[submodule "vendor"]
	path = vendor
	url = git://github.com/mozilla/playdoh-lib.git
[submodule "vendor-local/src/django-celery"]
	path = vendor-local/src/django-celery
	url = git://github.com/celery/django-celery.git
