<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />

  <!-- Set the viewport width to device width for mobile -->
  <meta name="viewport" content="width=device-width" />

  <title>Mozilla Package Maker</title>
  
  <!-- Included CSS Files (Uncompressed) -->
  <!--
  <link rel="stylesheet" href="stylesheets/foundation.css">
  -->
  
  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="{{ static('stylesheets/foundation.min.css') }}">
  <link rel="stylesheet" href="{{ static('stylesheets/app.css') }}">
  <link rel="stylesheet" href="{{ static('stylesheets/responsive-tables.css') }}">
  <link rel="stylesheet" href="{{ static('stylesheets/tablesorter.css') }}">
  <link rel="stylesheet" href="{{ static('stylesheets/normalize.css') }}">
  <link rel="stylesheet" href="{{ static('stylesheets/presentation.css') }}">


  <!-- IE Fix for HTML5 Tags -->
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

</head>
<body>


<nav class="top-bar">
  <ul>
    <li class="name"><h1><a href="/">Home</a></h1></li>
    <li class="toggle-topbar"><a href="#">Create</a></li>
  </ul>
  <section>
    <ul class="left">
        <li><a href="{{ 'frontend.create'|url() }}">Create</a></li>
        <li><a href="{{ 'frontend.list'|url() }}">List</a></li>
    </ul>

    <ul class="right">
      <li><a href="#">Link</a></li>
    </ul>

  </section>
</nav>


  <div class="row">
    <div class="six columns">
      <h2>Mozilla Package Maker</h2>
      <p>Create packages for mrepo</p>
    </div>
    <div class="six columns">
            <form method='post' action='/en-US/search'>
                <div class="eight mobile-three columns">
                    <input id="search" name="search" value ="{{ search }}" type="text" />
                    {% if search %}
                        <label>Delete search and submit to clear.</label>
                    {% endif %}
                </div>
                <div class="four mobile-one columns">
                    <!--<a href="#" class="postfix button expand">Search</a>-->
                    <input type="submit" id='search-button' class="postfix button expand" value="Search" />
                </div>
            </form>
    </div>
    <div class="six columns">
        <div data-bind:"text: searchResults.length"></div>
        <div style='padding: 0px 15px; display: none;' name='search_results' id='search_results'  data-bind="visible: searchResults().length > 0">
            <div id='search_result_display' name='search_result_display' data-bind="foreach: searchResults">
                <div><a data-bind="attr: {href: link}, text: name" ></a></div>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
        <div class="twelve columns">
        <hr />
        </div>
    </div>

    {% block content %}
    {% endblock %}
  <!-- Included JS Files (Uncompressed) -->
  <!--
  
  <script src="{{ static('javascripts/jquery.js') }}"></script>
  <script src="{{ static('javascripts/jquery.foundation.forms.js') }}"></script>
  <script src="{{ static('javascripts/foundation.min.js') }}"></script>
  
  
  -->
  
  <!-- Included JS Files (Compressed) -->
  <script src="{{ static('javascripts/modernizr.foundation.js') }}"></script>
  <script src="{{ static('javascripts/jquery.js') }}"></script>
  <script src="{{ static('javascripts/jquery.validate.js') }}"></script>
  <script src="{{ static('javascripts/jquery.foundation.mediaQueryToggle.js') }}"></script>
  
  
  <script src="{{ static('javascripts/jquery.foundation.reveal.js') }}"></script>
  
  <script src="{{ static('javascripts/jquery.foundation.orbit.js') }}"></script>
  
  <script src="{{ static('javascripts/jquery.foundation.navigation.js') }}"></script>
  
  <script src="{{ static('javascripts/jquery.foundation.buttons.js') }}"></script>
  
  <script src="{{ static('javascripts/jquery.foundation.tabs.js') }}"></script>
  
  <script src="{{ static('javascripts/jquery.foundation.tooltips.js') }}"></script>
  
  <script src="{{ static('javascripts/jquery.foundation.accordion.js') }}"></script>
  
  <script src="{{ static('javascripts/jquery.placeholder.js') }}"></script>
  
  <script src="{{ static('javascripts/jquery.foundation.alerts.js') }}"></script>
  
  <script src="{{ static('javascripts/jquery.foundation.topbar.js') }}"></script>
  <script src="{{ static('javascripts/responsive-tables.js') }}"></script>
  <script src="{{ static('javascripts/jquery.tablesorter.min.js') }}"></script>
  <script src="{{ static('javascripts/jquery.tablesorter.min.js') }}"></script>
  <script src="{{ static('javascripts/responsive-tables.js') }}"></script>
  <script src="{{ static('javascripts/jquery.tablesorter.min.js') }}"></script>
  <!-- Initialize JS Plugins -->
  {% block extra_footer %}{% endblock %}
</body>
</html>
