{% extends "base.html" %}
{% block content %}
<style type='text/css'>
    #id_upload_package, label[for=upload_package] {
        display: none;
    }
    #id_rhel_version, label[for=rhel_version] {
        display: none;
    }
    label {
        margin-top: 5px;
        width: 100%;
    }
   select {
        background: transparent;
        width: 268px;
        padding: 5px;
        font-size: 13px;
        border: 1px solid #ccc;
        height: 34px;
    }



    .package_label {
        font-weight: normal;
        padding: 5px;
    }
    .package_div {
        font-weight: bold;
        clear: right;
        padding: 5px;
    }

    div.clear {
        clear: both;
    }
</style>


<div class="row">
<form id="form" class='custom' enctype="multipart/form-data" method='post' action=''>
  <div class="twelve columns">
        <div class="row">
                <div class="two columns">
                    <div class='package_label'>Package Name</div>
                    <div class='package_label'>Version</div>
                    <div class='package_label'>Release</div>
                    <div class='package_label'>Vendor</div>
                    <div class='package_label'>Package URL</div>
                    <div class='package_label'>Application Group</div>
                </div>
                <div class="two columns">
                    <div class='package_div'>{{ instance.name }}</div>
                    <div class='package_div'>{{ instance.version }}</div>
                    <div class='package_div'>{{ instance.release }}</div>
                    <div class='package_div'>{{ instance.vendor if instance.vendor else '&nbsp;'|safe }}</div>
                    <div class='package_div'>{{ instance.package_url if instance.package_url else '&nbsp;'|safe }}</div>
                    <div class='package_div'>{{ instance.application_group }}</div>
                </div>
            <div class="eight columns">
                <div class="row collapse">
                    <dl class="tabs">
                    <dd class="active"><a href="#packagebuilds">Package Builds</a></dd>
                    <dd><a href="#buildnew">Build New</a></dd>
                    <dd><a href="#buildsource">Build Source Files</a></dd>
                    </dl>

                    <ul class="tabs-content">
                    <li class="active" id="packagebuildsTab">
                        <table>
                            <tr>
                                <th>Package Name</th>
                                <th>Build Source</th>
                                <th>Build Source Type</th>
                                <th>Build Status</th>
                                <th>Logs</th>
                                <th>Action</th>
                            </tr>
                        {% for package_build in instance.mozillapackagebuild_set.all() %}

                        {% endfor %}
                            <tr>
                                <td>foo-bar-1.0.39.rpm</td>
                                <td><a href="#">source-file-1.0.1.src.rpm</a></td>
                                <td>Source RPM</td>
                                <td>Completed</td>
                                <td><a href="#" class='view_build_log' rel='3'>View</a></td>
                                <td><a href="#" class='' rel='3'>Download</a> | <a href="#" class='' rel='3'>Delete</a></td>
                            </tr>
                        </table>
                    </li>
                    <li id="buildnewTab">
                            <div id='dependency_template'>
                                {% for dependency in dependencies %}
                                    <div style="clear: both;"><label>Dependency:</label>
                                        <input class="required package_dependency" style="width: 300px; float: left;" type="text" name="dependency" value="{{ dependency }}" id="dependency_{{ loop.index0 }}"/><input class="remove_dependency small alert button" type="button" value="Remove" style="float: left; margin: 0px 0 0 3px;" />
                                    </div>
                                {% endfor %}
                            </div>
                        <br style="clear: both;">
                    </li>
                    <li id="buildsourceTab">
                        <form id="form" class='custom' enctype="multipart/form-data" method='post' action='.'>
                            {% if instance.mozillabuildsourcefile_set.all()|count > 0 %}
                                <table>
                                    <tr>
                                        <th>File Name</th>
                                        <th>Input Type</th>
                                        <th>Download</th>
                                    </tr>
                                {% for upload in instance.mozillabuildsourcefile_set.all() %}
                                    <tr>
                                        <td>{{ upload.source_file }}</td>
                                        <td>{{ upload.input_type }}</td>
                                        <td><a href="{{ upload.get_absolute_url }}">Download</a></td>
                                    </tr>
                                {% endfor %}
                                </table>
                            {% endif %}
                            {{ package_upload_form }}
                            <br style="clear: both;">
                            <input type='submit' style='margin-top: 5px;' class="small button" value="Upload" style="float: left; margin: 0px 0 0 3px;"  />
                        </form>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
  </div>
</form>
</div>

{% endblock %}
{% block extra_footer %}
<script type="text/javascript">
        $(document).foundationTabs();
        function init(){
                    jQuery("#id_rhel_version").show();
                    jQuery("#rhel_version_label").show();
                    jQuery("#id_upload_package").hide();
                    jQuery("#upload_package_label").hide();
                    //$("#id_install_package_name").attr('disabled', 'disabled');
        }
        function add_dependency(){
           $("#dependency_template").append('<div style="clear: both;"><label>Dependency:</label>');
           $("#dependency_template").append('<input class="required package_dependency" style="width: 300px; float: left;" type="text" name="dependency" id="dependency_' + dependency_count + '"/><input class="remove_dependency small alert button" type="button" value="Remove" style="float: left; margin: 0px 0 0 3px;" />');
           $("#dependency_template").append('</div>');
           dependency_count++;
        }


        function add_system_dependency(){
           $("#system_dependency_template").append('<div style="clear: both;"><label>Dependency:</label>');
           $("#system_dependency_template").append('<input class="required package_system_dependency" style="width: 300px; float: left;" type="text" name="system_dependency" id="system_dependency_' + system_dependency_count + '"/><input class="remove_system_dependency small alert button" type="button" value="Remove" style="float: left; margin: 0px 0 0 3px;" />');
           $("#system_dependency_template").append('</div>');
           dependency_count++;
        }
        $(document).ready(function(){
            dependency_count = {{ dependency_count }};
            system_dependency_count = {{ system_dependency_count }};

            init();
            $("#id_output_type").change(function(){
                var output_type = $(this).val();
                if(output_type == 'rpm'){
                    jQuery("#id_rhel_version").show();
                    jQuery("#rhel_version_label").show();
                    return true;
                } else {
                    jQuery("#rhel_version_label").hide();
                    jQuery("#id_rhel_version").hide();
                    return false;
                }

            });
            $("#id_input_type").change(function(){
                var input_type = $(this).val();
                if(input_type == 'python' || input_type == 'gem'){
                    jQuery("#id_upload_package").hide();
                    jQuery("#upload_package_label").hide();
                    jQuery("#id_package").show();
                    jQuery("#package_label").show();
                    //$("#id_install_package_name").attr('disabled', 'disabled');
                    $("#id_upload_package").rules("remove", "required");
                    $("#id_package").rules("add", "required");
                    validator.resetForm();
                    return false;
                } else {
                    $("#id_package").val('');
                    $("#id_install_package_name").val('');
                    jQuery("#id_package").hide();
                    jQuery("#package_label").hide();
                    jQuery("#id_upload_package").show();
                    jQuery("#upload_package_label").show();
                    //$("#id_install_package_name").removeAttr('disabled');
                    $("#id_upload_package").rules("add", "required");
                    $("#id_package").rules("remove", "required");
                    validator.resetForm();
                    return true;
                }
            });
            $("#id_package").keyup(function(){
                var input_type = $("#id_input_type").val();
                if(input_type == 'python' || input_type == 'gem'){
                    $("#id_install_package_name").val($(this).val());
                }
            });
            $("#id_package").change(function(){
                var input_type = $("#id_input_type").val();
                if(input_type == 'python' || input_type == 'gem'){
                    $("#id_install_package_name").val($(this).val());
                }
            });
            /*
             * We need a document "live" event handler here
             * The .remove_dependency buttons are created after the
             * entire dom is created/loaded
             */

            $(document).on("click", ".remove_dependency", function(){
                    if($(this).prevAll('input').hasClass('error')){
                        $(this).prev().prev().prev().remove();
                    }
                    $(this).prev().prev().remove();
                    $(this).prev().remove();
                    $(this).remove();
            });
            $(document).on("click", ".remove_system_dependency", function(){
                    if($(this).prevAll('input').hasClass('error')){
                        $(this).prev().prev().prev().remove();
                    }
                    $(this).prev().prev().remove();
                    $(this).prev().remove();
                    $(this).remove();
            });

            $("#add_dependency_button").click(function(){
                    add_dependency();
            });
            $("#add_system_dependency_button").click(function(){
                    add_system_dependency();
            });

            $("#id_upload_package").change(function(){
                var input_type = $("#id_input_type").val();
                var full_package_name = $(this).val()
                var final_package_name = "";
                if(input_type == 'rpm'){
                    final_package_name = full_package_name.split(/-/)[0]
                } else if(input_type == 'deb'){
                    final_package_name = full_package_name.split(/_/)[0]
                } else if(input_type == 'tar-gz'){
                    final_package_name = full_package_name.split(/\.tar\.gz/)[0]
                } else if(input_type == 'zip'){
                    final_package_name = full_package_name.split(/\.zip/)[0]
                }
                $("#id_install_package_name").val(final_package_name);

            });
            $.validator.addMethod("package_dependency", function (value, element) {
                var re = new RegExp(/^[\w-_]+$|^[\w-_]+\s{0,1}[<>=]{1,2}\s{0,1}[\d\.]+$/);
                //console.debug("Validating " + value);
                return re.test(value);
            }, "Dependency is invalid: Please enter a valid package dependency.");

            var validator = $("#form").validate({
                submitHandler: function(form) {
                    form.submit();
                },
                messages : {
                    package: 'The Package Name Required',
                },
                rules: {
                    install_package_name: {
                        required: true
                    },
                    id_package: {
                        required: true
                    }
                }
    
            });


        });
</script>
{% endblock %}
