{% extends "base.html" %}
{% block content %}
<style type='text/css'>
    #id_upload_package, label[for=upload_package] {
        display: none;
    }
    #id_rhel_version, label[for=rhel_version] {
        display: none;
    }
    label {
        margin-top: 5px;
        width: 100%;
    }
   select {
        background: transparent;
        width: 268px;
        padding: 5px;
        font-size: 13px;
        border: 1px solid #ccc;
        height: 34px;
    }



    .package_label {
        font-weight: normal;
        padding: 5px;
    }
    .package_div {
        font-weight: bold;
        clear: right;
        padding: 5px;
    }

    div.clear {
        clear: both;
    }


    .new_build_span {
        width: 310px;
        float: left;
    }

    .new_build_span_header {
        font-weight: bold;
        text-align: left;
    }

    input[type=radio]{
        margin-right: 3px;
    }

    .radio_span {
        line-height: 16px;
        clear: both;
        float: left;
    }

    #remote_package_name_input, #remote_package_div {
        display: none;
    }

    .build_sources li {
        list-style-type: none;
    }
    div.error {
        color: red;
    }
</style>


<div class="row">
  <div class="twelve columns">
        <div class="row">
                <div class="two columns">
                    <div class='package_label'>Package Name</div>
                    <div class='package_label'>Version</div>
                    <div class='package_label'>Release</div>
                    <div class='package_label'>Vendor</div>
                    <div class='package_label'>Package URL</div>
                    <div class='package_label'>Application Group</div>
                </div>
                <div class="two columns">
                    <div class='package_div'>{{ instance.name }}</div>
                    <div class='package_div'>{{ instance.version }}</div>
                    <div class='package_div'>{{ instance.release }}</div>
                    <div class='package_div'>{{ instance.vendor if instance.vendor else '&nbsp;'|safe }}</div>
                    <div class='package_div'>{{ instance.package_url if instance.package_url else '&nbsp;'|safe }}</div>
                    <div class='package_div'>{{ instance.application_group }}</div>
                </div>
            <div class="eight columns">
                <div class="row collapse">
                    <dl class="tabs">
                    <dd class="active"><a href="#packagebuilds">Package Builds</a></dd>
                    <dd><a href="#buildsources">Build Sources</a></dd>
                    <dd><a href="#buildnew">New Build Source</a></dd>
                    <dd><a href="#buildsource">Build Source Files</a></dd>
                    </dl>

                    <ul class="tabs-content">
                        <li class="active" id="packagebuildsTab">
                            <table>
                                <tr>
                                    <th>Package Name</th>
                                    <th>Build Source</th>
                                    <th>Build Source Type</th>
                                    <th>Build Status</th>
                                    <th>Logs</th>
                                    <th>Action</th>
                                </tr>
                            {% for package_build in instance.mozillapackagebuild_set.all() %}
                                <tbody id='package_builds_tbody'>
                                    <tr class='package_builds_list'>
                                        <td>{{ package_build.build_package_name }}</td>
                                        {% if package_build.build_source.build_type == 'gem' or
                                            package_build.build_source.build_type == 'python' %}
                                            <td>{{ package_build.build_source.remote_package_name }}</td>
                                        {% endif %}
                                        <td>{{ package_build.build_source.build_type }}</td>
                                        <td>{{ package_build.build_status }}</td>
                                        <td><a href="#" class='view_build_logs' rel='{{ package_build.id }}'>View</a></td>
                                        <td>{% if package_build.build_status == 'Completed' %}<a href="{{'frontend.download'|url(package_build.id) }}" class='' rel='3'>Download</a> | <a href="#" class='' rel='3'>Delete</a> {% else %} &nbsp; {% endif %}</td>
                                    </tr>
                                </tbody>

                            {% endfor %}
                            </table>
                        </li>
                        <li id="buildsourcesTab">
                            <table>
                                <thead id='build_sources_thead'>
                                    <tr id='build_source_table_header'>
                                        <th>Build Source Type</th>
                                        <th>Build Source</th>
                                        <th style='width: 200px;'>Package Dependencies</th>
                                        <th style='width: 200px;'>System Dependencies</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id='build_sources_tbody'>
                                {% for bs in instance.mozillabuildsource_set.all().order_by('-id') %}
                                    <tr class="build_source_list">
                                        {% if bs.build_type  %}
                                            <td>{{ bs.build_type }}</td>
                                        {% else %}
                                            <td>Uploaded File</td>
                                        {% endif %}
                                        {% if bs.build_source_file %}
                                            <td>{{ bs.build_source_file.source_file|replace("uploads/", "") }}</td>
                                        {% else %}
                                            <td>{{ bs.remote_package_name }}</td>
                                        {% endif %}
                                        <td>{{ bs.package_dependency_string }}</td>
                                        <td>{{ bs.system_dependency_string }}</td>
                                        <td><a class='build_source' rel="{{ bs.id }}" href="#">Build</a> | <a class='delete_source' rel="{{ bs.id }}" href="#">Delete</a></td>
                                    </tr>

                                {% endfor %}
                                </tbody>
                                <tfoot id='build_sources_tfoot'></tfoot>
                        </table>
                        </li>
                        <li id="buildnewTab">
                            <form method='post' action='.' name='build_new_source_form' id='build_new_source_form'>
                                <span id='new_build_span_source' class='new_build_span'>
                                    <div class='new_build_span_header'>build source</div>
                                    <ul class='build_sources'>
                                        {% if instance.mozillabuildsourcefile_set.all()|count > 0 %}
                                            {% for upload in instance.mozillabuildsourcefile_set.all() %}
                                                <li><input type='radio' value='{{ upload.id }}' id='build_source' name='build_source' />{{ upload.source_file|replace("uploads/", "") }}</li>
                                            {% endfor %}
                                            <br />
                                        {% endif %}
                                        <li><input type='radio' value='gem' name='build_source' />gem</li>
                                        <li><input type='radio' value='python' name='build_source' />python</li>
                                    </ul>
                                    <div id='remote_package_div'>
                                        <br style='clear: both;' />
                                        <label id='remote_package_name_input_label' for='remote_package_name_input'>remote package name:</label>
                                        <input type='text' class='required' id='remote_package_name_input' name='remote_package_name_input' value='' />
                                    </div>
                                    <br style='clear: both;' />
                                    <br style='clear: both;' />
                                    <input id='save_build' style='float: left;' type='submit' class="postfix button" value='save build configuration'>
                                </span>
                                <span id='new_build_span_package_dependency' class='new_build_span'>
                                    <div class='new_build_span_header'>package dependency</div>
                                    <input id='add_dependency_button' style='float: left;' type='button' class="postfix button" value='add dependency'>
                                </span>
                                <span id='new_build_span_system_dependency' class='new_build_span'>
                                    <div class='new_build_span_header'>system dependency</div>
                                    <input id='add_system_dependency_button' style='float: left;' type='button' class="postfix button" value='add dependency'>
                                </span>

                            </form>
                        </li>
                        <li id="buildsourceTab">
                            <form id="form" class='custom' enctype="multipart/form-data" method='post' action='.'>
                                {% if instance.mozillabuildsourcefile_set.all()|count > 0 %}
                                    <table>
                                        <tr>
                                            <th>file name</th>
                                            <th>input type</th>
                                            <th>download</th>
                                        </tr>
                                    {% for upload in instance.mozillabuildsourcefile_set.all() %}
                                        <tr>
                                            <td>{{ upload.source_file|replace("uploads/", "") }}</td>
                                            <td>{{ upload.input_type }}</td>
                                            <td><a href="{{ upload.get_absolute_url() }}">Download</a></td>
                                        </tr>
                                    {% endfor %}
                                    </table>
                                {% endif %}
                                {{ package_upload_form }}
                                <br style="clear: both;">
                                <input type='submit' style='margin-top: 5px;' class="small button" value="Upload" style="float: left; margin: 0px 0 0 3px;"  />
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
  </div>
</div>

{% endblock %}
{% block extra_footer %}
<script type="text/javascript">
        $(document).foundationTabs();
        package_id = {{ instance.id }};
        function init(){
                    jQuery("#id_rhel_version").show();
                    jQuery("#rhel_version_label").show();
                    jQuery("#id_upload_package").hide();
                    jQuery("#upload_package_label").hide();
        }
        function add_dependency(){
            var add_string = '<div class="dep_wrapper" style="clear: both;"><label>Dependency:</label>';
            add_string += '<input class="required package_dependency" style="width: 300px; float: left;" type="text" name="dependency" id="dependency_' + dependency_count + '"/><input class="remove_dependency small alert button" type="button" value="Remove" style="float: left; margin: 0px 0 0 3px;" />';
            add_string += '</div>';
            $("#add_dependency_button").after(add_string);
            dependency_count++;
        }

        function append_build_source(element, index, array){
            tr_string = '<tr class="build_source_list">';
            if(element['build_source_type']){
                tr_string += '<td>' + element['build_source_type'] + '</td>';
                tr_string += '<td>' + element['remote_package_name'] + '</td>';
            } else {
                tr_string += '<td>Uploaded File</td>';
                tr_string += '<td>' + element['build_source_file_name'] + '</td>';
            }
            tr_string += '<td>' + element['package_dependencies'] + '</td>';
            tr_string += '<td>' + element['system_dependencies'] + '</td>';
            tr_string += '<td><a rel="' + element['id'] + '" class="build_source" href="#">Build</a> | <a rel="' + element['id'] + '"class="delete_source" href="#">Delete</a></td>';
            tr_string += '</tr>';
            $("#build_sources_tbody").after(tr_string);

        }
        function append_package_builds(element, index, array){
            tr_string = '<tr class="package_builds_list">';
            tr_string += '<td>' + element['name'] + '</td>';
            tr_string += '<td>' + element['build_source'] + '</td>';
            tr_string += '<td>' + element['build_source_type'] + '</td>';
            tr_string += '<td>' + element['build_status'] + '</td>';
            tr_string += '<td><a href="#" class="view_build_logs" rel="' + element['id'] + '">View</a></td>';
            if(element['build_status'] == 'Completed'){
                tr_string += '<td><a href="/en-US/download/' + element['id'] + '/" class="" rel="' + element['id'] + '">Download</a> | <a href="#" class="" rel="3">Delete</a></td>';
            } else {
                tr_string += '<td>&nbsp;</td>';
            }
            tr_string += '</tr>';
            $("#package_builds_tbody").after(tr_string);

        }
        function refresh_build_sources_list(){
            $.get('/get_build_sources/' + package_id + '/',
                    function(data){
                        $(".build_source_list").remove();
                        obj = $.parseJSON(data);
                        if(obj['status'] == 'OK'){
                            obj['sources'].forEach(append_build_source);
                        } else {
                            alert('Refresh Failed: ' + obj['message']);

                        }

                    }
            );
            return true;
        }
        function refresh_package_builds_list(){
            $.get('/get_package_builds/' + package_id + '/',
                    function(data){
                        $(".package_builds_list").remove();
                        obj = $.parseJSON(data);
                        if(obj['status'] == 'OK'){
                            obj['package_builds'].forEach(append_package_builds);
                        } else {
                            alert('Refresh Failed: ' + obj['message']);

                        }

                    }
            );
            return true;
        }


        function add_system_dependency(){
            var add_string = '<div class="dep_wrapper" style="clear: both;"><label>Dependency:</label>';
            add_string += '<input class="required system_dependency" style="width: 300px; float: left;" type="text" name="system_dependency" id="system_dependency_' + system_dependency_count + '"/><input class="remove_system_dependency small alert button" type="button" value="Remove" style="float: left; margin: 0px 0 0 3px;" />';
            add_string += '</div>';
            $("#add_system_dependency_button").after(add_string);
            system_dependency_count++;
        }

        function add_build_source(json_string){
            refresh_build_sources_list();

        }
        $(document).ready(function(){
            dependency_count = {{ dependency_count }};
            system_dependency_count = {{ system_dependency_count }};

            //init();
            $("#id_output_type").change(function(){
                var output_type = $(this).val();
                if(output_type == 'rpm'){
                    jQuery("#id_rhel_version").show();
                    jQuery("#rhel_version_label").show();
                    return true;
                } else {
                    jQuery("#rhel_version_label").hide();
                    jQuery("#id_rhel_version").hide();
                    return false;
                }

            });
            /*
             * We need a document "live" event handler here
             * The .remove_dependency buttons are created after the
             * entire dom is created/loaded
             */

            $(document).on("click", ".remove_dependency", function(){
                    remove_dep($(this));
            });

            $(document).on("click", ".delete_source", function(){
                var build_source_id = $(this).attr("rel");
                $.get('/en-US/delete_build_source/' + build_source_id + '/',
                    function(data){
                        obj = $.parseJSON(data);
                        if(obj['status'] == 'OK'){
                            refresh_build_sources_list();
                        } else {
                            alert(obj['message']);
                        }

                    });
                return false;
                
            });
            $(document).on("click", ".build_source", function(){
                var build_source_id = $(this).attr("rel");
                $("#build_source_id_ajax").val(build_source_id);
                $("#build_source_form_div").dialog({
                    title: 'Build From Source',
                    width: 440,
                    buttons: [
                        {
                            text: 'Build',
                            click: function(){
                                $.post('/en-US/build_from_build_source/' + build_source_id + '/',
                                    { 
                                        'build_type': $("#build_source_form_type").val(),
                                        'arch_type': $("#build_source_form_arch_type").val()
                                    },
                                    function(data){
                                        var obj = $.parseJSON(data);
                                            if(obj['status'] == 'OK'){
                                                $("a[href=#packagebuilds]").click();
                                                refresh_package_builds_list();
                                                setInterval('refresh_package_builds_list()', 30000);
                                            } else {
                                                alert('Build Failed: ' + obj['message']);

                                            }
                                    }
                                );

                                $("#build_source_form_div").dialog('close');

                            }
                        },
                        {
                            text: 'Cancel',
                            click: function(){
                                $("#build_source_form_div").dialog('close');
                            }
                        }

                    ]
                    
                    
                });
                return false;
            });

            $(document).on("click", ".remove_system_dependency", function(){
                    remove_dep($(this));
            });

            function remove_all_deps(){
                $(".remove_dependency").each(function(){
                    remove_dep($(this));
                });

                $(".remove_system_dependency").each(function(){
                    remove_dep($(this));
                });
            }

            function remove_dep(element){
                element.parent().remove();
            }

            $("#add_dependency_button").click(function(){
                    add_dependency();
            });
            $("#add_system_dependency_button").click(function(){
                    add_system_dependency();
            });

            $("#id_upload_package").change(function(){
                var input_type = $("#id_input_type").val();
                var full_package_name = $(this).val()
                var final_package_name = "";
                if(input_type == 'rpm'){
                    final_package_name = full_package_name.split(/-/)[0]
                } else if(input_type == 'deb'){
                    final_package_name = full_package_name.split(/_/)[0]
                } else if(input_type == 'tar-gz'){
                    final_package_name = full_package_name.split(/\.tar\.gz/)[0]
                } else if(input_type == 'zip'){
                    final_package_name = full_package_name.split(/\.zip/)[0]
                }
                $("#id_install_package_name").val(final_package_name);

            });
            $("input[name=build_source]").change(function(){
                    if($(this).val() == 'gem' || $(this).val() == 'python'){
                        show_remote_package_input();
                    } else {
                        hide_remote_package_input();
                    }
            });
            function show_remote_package_input(){
                $("#remote_package_name_input_label").show();
                $("#remote_package_name_input").show();
                $("#remote_package_div").show();

            }
            function hide_remote_package_input(){
                $("#remote_package_name_input_label").hide();
                $("#remote_package_name_input").hide();
                $("#remote_package_div").hide();
            }
            $.validator.addMethod("package_dependency", function (value, element) {
                var re = new RegExp(/^[\w-_]+$|^[\w-_]+\s{0,1}[<>=]{1,2}\s{0,1}[\d\.]+$/);
                return re.test(value);
            }, "Dependency is invalid: Please enter a valid package dependency.");
               
            var validator = $("#build_new_source_form").validate({
                submitHandler: function(form) {
                    var post_data = serialize_build_source_form();
                    $.ajax({
                        type: "POST",
                        url: '/en-US/add_build_source/' + package_id + '/',
                        data: post_data,
                        success: function(){
                            reset_add_source_form();
                            add_build_source(post_data);
                            $("a[href=#buildsources]").click();
                        },
                        dataType: 'json'
                    });
                },
                messages : {
                    build_source: 'The Build Source is Required',
                },
                rules: {
                    build_source: {
                        required: true
                    }
                },
                errorElement: "div",
                wrapper: "div",  // a wrapper around the error message
                errorPlacement: function(error, element) {
                    if (element.attr('type') == 'radio' || element.attr('type') == 'checkbox') {
                        error.addClass('error');  // add a class to the wrapper
                        error.insertBefore(element);
                    } else {
                        error.insertAfter(element);
                    }
                }
    
            });

            function serialize_build_source_form(){
                var return_dict = {};
                return_dict['remote_package_name_input'] = '';
                return_dict['local_package_name_input'] = '';
                return_dict['dependency'] = [];
                return_dict['system_dependency'] = [];
                return_dict['local_package_name_input'] = '';
                return_dict['package_id'] = package_id;
                var build_source = $("input[name=build_source]:checked").val();
                return_dict['build_source'] = build_source;

                if(build_source == 'gem' || build_source == 'python'){
                    return_dict['remote_package_name_input'] = $("#remote_package_name_input").val();
                } else {
                    return_dict['local_package_name_input'] = $("#local_package_name_input").attr('rel');
                    return_dict['remote_package_name_input'] = $("#remote_package_name_input").attr('rel');
                }

                return_dict['dependency'] = [];
                $(".package_dependency").each(function(){
                    return_dict['dependency'].push($(this).val());
                });

                return_dict['system_dependency'] = [];
                $(".system_dependency").each(function(){
                    return_dict['system_dependency'].push($(this).val());
                });

                return return_dict;

            }
            function reset_add_source_form(){
                remove_all_deps();
                $("#remote_package_name_input").val('');
                $("input[name=build_source]:checked").removeAttr('checked');
                hide_remote_package_input();
            }
            $('#save_build').click(function(){
                var post_data = serialize_build_source_form();
                $("#build_new_source_form").submit();
                return false;
            });


        });
</script>
<div id='build_source_form_div' style='display: none;'>
    <table>
        <form>
            <tr>
                <td style='vertical-align: middle;'>Output Type</td>
                <td>
                    <select name='build_source_form_type' id='build_source_form_type' style='padding: none;' >
                        <option value='rpm'>.rpm</option>
                        <option value='deb'>.deb</option>
                    
                    </select>
                </td>
            </tr> 
            <tr>
                <td style='vertical-align: middle;'>Arch Type</td>
                <td>
                    <select name='build_source_form_arch_type' id='build_source_form_arch_type' style='padding: none;' >
                        <option value='i386'>i386</option>
                        <option value='x86_64'>x86_64</option>
                    
                    </select>
                </td>
            </tr> 
            <input type='hidden' name='build_source_id_ajax' id='build_source_id_ajax' value='' />

        <form>
    </table>


</div>
{% endblock %}
